<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This app has been created following a model proposed on Fazt Tech YouTube channel.</p>
        <a href="http://faztweb.com" class="btn btn-primary btn-lg" target="_blank">FaztWeb</a>
    </div>
</div>