<div class="jumbotron mt-4">
    <h1 class="display-4">NotApps: A Mongo Express Node App</h1>
    <p class="lead">App built on NodeJS using Express module and local Mongo db</p>
    <hr class="my-4">
    <p>Users could signup, login, create new notes, see their notes, edit or delete them. User are only able to see their own notes. Project based on Fatz Tech Youtube channel (see About section). Check out more of my student work in the link below</p>
    <a href="https://github.com/LuisGVicente" class="btn btn-primary btn-lg" target="_blank">GitHub</a>
</div>